<p id="notice"><%= notice %></p>

<% @trip = @schedule.trip%>

<h1>Trip <%= @trip.id%></h1>
<h2>Schedule <%= @schedule.id%></h2>

<table class ="table">
 <thead class="thead-default">
    <tr >
      <th>
        Trip Name
      </th>
      <th>
        Schedule ID
      </th>
      <th>
        Schedule Date
      </th>
      <th>
        Schedule Destination
      </th>
      <th>
        Schedule Delete Link
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @trip.name%>
      </td>
      <td>
        <%= @schedule.id%>
      </td>
      <td>
        <%= @schedule.date%>
      </td>
      <td>
        <%= @schedule.destination%>
      </td>
      <td>
        <%= link_to 'Destroy', [@trip, @schedule], method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Activity ID</th>
      <th>Activity Start Time</th>
      <th>Activity End Time</th>
      <th>Activity Name</th>
      <th>Activity Description</th>
      <th>Activity Google Place</th>
      <th>Activity Show Link</th>
      <th>Activity Destroy Link</th>
    </tr>
  </thead>
  <tbody>
    <% @schedule.activities.each do |activity| %>
    <tr>
      <td><%= activity.id %></td>
      <td><%= activity.start_time %></td>
      <td><%= activity.end_time %></td>
      <td><%= activity.name %></td>
      <td><%= activity.description %></td>
      <td><%= activity.place %></td>
      <td><%= link_to 'Show', [@trip, @schedule, activity] %></td>
      <td><%= link_to 'Destroy', [@trip, @schedule, activity], method: :delete, data: { confirm: 'Are you sure?' } %>
    <tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Trips', trips_path %>
