<nav class="menu" id="theMenu">
  <div class="menu-wrap">
      <h1 class="logo"><%= link_to 'Home', [:root] %></h1>
      <i class="fa fa-arrow-right menu-close"></i>
      <hr />
      <% if current_user %>
        <%= link_to current_user.first_name, user_path(current_user) %></a>
        <%= link_to 'My Trips', [:trips] %>
        <%= link_to "Logout", '/logout' %>
      <% else %>
        <%= link_to "Login", login_path, :class => "login-modal-toggle", :remote => true, "data-target" => "#login-modal" %>
        <%= link_to "Sign up", register_path, :class => "register-modal-toggle", :remote => true, "data-target" => "#register-modal" %>
      <% end %>
      <a class="#"><i class="fa fa-envelope"></i></a>
  </div>
  <div id="menuToggle"><i class="fa fa-bars"></i></div>
</nav>