<!---

<p id="notice"><%= notice %></p>

<h1>Trip <%= @trip.id%></h1>

<table class ="table">
 <thead class="thead-default">
    <tr >
      <th>
        Trip Name
      </th>
      <th>
        Trip Summary
      </th>
      <th>
        Trip Kind
      </th>
      <th>
        Host First Name
      </th>
      <th>
        Host Last Name
      </th>
      <th>
        Trip Delete Link
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @trip.name%>
      </td>
      <td>
        <%= @trip.summary%>
      </td>
      <td>
        <%= @trip.kind%>
      </td>
      <td>
        <%= @trip.user.first_name%>
      </td>
      <td>
        <%= @trip.user.last_name%>
      </td>
      <td>
        <%= link_to 'Destroy', @trip, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Schedule ID</th>
      <th>Schedule Date</th>
      <th>Goggle Place Destination</th>
      <th>Schedule Show Link</th>
      <th>Schedule Delete Link</th>
    </tr>
  </thead>
  <tbody>
    <% @trip.schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.id %></td>
      <td><%= schedule.date %></td>
      <td><%= schedule.destination %></td>
      <td><%= link_to 'Show', [@trip, schedule] %></td>
      <td><%= link_to 'Destroy', [@trip, schedule], method: :delete, data: { confirm: 'Are you sure?' } %>
    <tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Trips', trips_path %>

-->

<main class="container-fluid">
  <header class="page-header">
    <h1><%= @trip.name %></h1>
  </header>
  <section class="container-fluid col-md-4">
    <div id="agendaDay-view">
      <div id="calendar"></div>
    </div>
    <script>
      $(() => {
        $('#calendar').fullCalendar({
          height: 'auto',
          defaultView: 'agendaDay',
          allDaySlot: false,
          allDayText: false,
          slotEventOverlap: false,
          defaultDate: '2017-4-21',
          editable: true,
          droppable: true,
          scrollTime: '06:00:00'
        });
      });
    </script>
  </section>

  <section class="container-fluid col-md-8">
    <div id="map"></div>
    <script>
      var map;

      function initMap() {
        var origin = {lat: -33.871, lng: 151.197};
        var map = new google.maps.Map(document.getElementById('map'), {
          center: origin,
          zoom: 11
        });

        var placesArray = [];
        <% @trip.schedules.each do |schedule| %>
         <% schedule.activities.each do |activity| %>
            placesArray.push("<%= activity.place %>");
         <% end %>
        <% end %>

        for (var i=0; i<placesArray.length; i++) {
          var geocoder = new google.maps.Geocoder;
          var infowindow = new google.maps.InfoWindow;
          geocodePlaceId(geocoder, map, infowindow, placesArray[i], i);
        }
      }

      function geocodePlaceId(geocoder, map, infowindow, placeId, i) {
        var label = (i+1).toString();
        geocoder.geocode({'placeId': placeId}, function(results, status) {
          if (status === 'OK') {
            if (results[0]) {
              map.setZoom(18);
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                label: label
              });
              infowindow.setContent(results[0].formatted_address);
              infowindow.open(map, marker);
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
      }

    </script>
    <% src = "https://maps.googleapis.com/maps/api/js?key=" + ENV['GOOGLE_API_KEY'].to_s + "&callback=initMap"%>
    <script src=<%=src%> async defer></script>
  </section>
</main>
